    
    <span class="badge badge-pill badge-default">Default</span>
    <span class="badge badge-pill badge-primary">Primary</span>
    <span class="badge badge-pill badge-secondary">Secondary</span>
    <span class="badge badge-pill badge-info">Info</span>
    <span class="badge badge-pill badge-success">Success</span>
    <span class="badge badge-pill badge-danger">Danger</span>
    <span class="badge badge-pill badge-warning">Warning</span>

    <!-- AVATARS -->
    <a href="javascript:;" class="avatar avatar-xs rounded-circle">
    <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
</a>

<a href="javascript:;" class="avatar avatar-sm rounded-circle">
    <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
</a>

<a href="javascript:;" class="avatar rounded-circle">
    <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
</a>

<a href="javascript:;" class="avatar avatar-lg rounded-circle">
    <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
</a>

<a href="javascript:;" class="avatar avatar-xl rounded-circle">
    <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
</a>
<!-- GROUP AVATARS -->
<div class="avatar-group">
    <a href="javascript:;" class="avatar rounded-circle">
        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-1.jpg">
    </a>
    <a href="javascript:;" class="avatar rounded-circle">
        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-2.jpg">
    </a>
    <a href="javascript:;" class="avatar rounded-circle">
        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-3.jpg">
    </a>
    <a href="javascript:;" class="avatar rounded-circle">
        <img alt="Image placeholder" src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/theme/team-4.jpg">
    </a>
</div>

<!-- DROPDOWNS -->
Bootstrap Dropdown
Toggle contextual overlays for displaying lists of links and more with the Bootstrap dropdown plugin.

Examples
 
Copy
Copy
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Regular
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="javascript:;">Action</a>
    <a class="dropdown-item" href="javascript:;">Another action</a>
    <a class="dropdown-item" href="javascript:;">Something else here</a>
  </div>
</div>

<div class="dropdown">
  <a href="javascript:;" class="btn btn-default dropdown-toggle " data-toggle="dropdown" id="navbarDropdownMenuLink2">
      <img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/US.png" /> Flags
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
      <li>
          <a class="dropdown-item" href="javascript:;">
            <img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/DE.png" /> Deutsch
          </a>
      </li>
      <li>
          <a class="dropdown-item" href="javascript:;">
            <img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/GB.png" /> English(UK)
          </a>
      </li>
      <li>
          <a class="dropdown-item" href="javascript:;">
            <img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/flags/FR.png" /> Français
          </a>
      </li>
  </ul>
</div>
Colors
The best part is you can do this with any button variant, too:

 
 
 
 
 
Copy
Copy
  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Primary</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:;">Action</a>
      <a class="dropdown-item" href="javascript:;">Another action</a>
      <a class="dropdown-item" href="javascript:;">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:;">Separated link</a>
    </div>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Secondary</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:;">Action</a>
      <a class="dropdown-item" href="javascript:;">Another action</a>
      <a class="dropdown-item" href="javascript:;">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:;">Separated link</a>
    </div>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Success</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:;">Action</a>
      <a class="dropdown-item" href="javascript:;">Another action</a>
      <a class="dropdown-item" href="javascript:;">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:;">Separated link</a>
    </div>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Info</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:;">Action</a>
      <a class="dropdown-item" href="javascript:;">Another action</a>
      <a class="dropdown-item" href="javascript:;">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:;">Separated link</a>
    </div>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Warning</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:;">Action</a>
      <a class="dropdown-item" href="javascript:;">Another action</a>
      <a class="dropdown-item" href="javascript:;">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:;">Separated link</a>
    </div>
  </div><!-- /btn-group -->
  <div class="btn-group">
    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Danger</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="javascript:;">Action</a>
      <a class="dropdown-item" href="javascript:;">Another action</a>
      <a class="dropdown-item" href="javascript:;">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="javascript:;">Separated link</a>
    </div>
  </div><!-- /btn-group -->
  <!-- MODALS -->

  <div class="row">
  <div class="col-md-4">
      <button type="button" class="btn btn-block btn-primary mb-3" data-toggle="modal" data-target="#modal-default">Default</button>
      <div class="modal fade" id="modal-default" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
        <div class="modal-content">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-default">Type your modal title</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            	
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>

  </div>
  <div class="col-md-4">
      <button type="button" class="btn btn-block btn-warning mb-3" data-toggle="modal" data-target="#modal-notification">Notification</button>
      <div class="modal fade" id="modal-notification" tabindex="-1" role="dialog" aria-labelledby="modal-notification" aria-hidden="true">
    <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-danger">
        	
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Your attention is required</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">
            	
                <div class="py-3 text-center">
                    <i class="ni ni-bell-55 ni-3x"></i>
                    <h4 class="heading mt-4">You should read this!</h4>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-white">Ok, Got it</button>
                <button type="button" class="btn btn-link text-white ml-auto" data-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>

  </div>
  <div class="col-md-4">
      <button type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#modal-form">Form</button>
      <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
    <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
        	
            <div class="modal-body p-0">
            	
                	
<div class="card bg-secondary shadow border-0">
    <div class="card-header bg-white pb-5">
        <div class="text-muted text-center mb-3"><small>Sign in with</small></div>
        <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/common/github.svg"></span>
                <span class="btn-inner--text">Github</span>
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon"><img src="https://demos.creative-tim.com/argon-dashboard-pro/assets/img/icons/common/google.svg"></span>
                <span class="btn-inner--text">Google</span>
            </a>
        </div>
    </div>
    <div class="card-body px-lg-5 py-lg-5">
        <div class="text-center text-muted mb-4">
            <small>Or sign in with credentials</small>
        </div>
        <form role="form">
            <div class="form-group mb-3">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="email">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                    </div>
                    <input class="form-control" placeholder="Password" type="password">
                </div>
            </div>
            <div class="custom-control custom-control-alternative custom-checkbox">
                <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                <label class="custom-control-label" for=" customCheckLogin"><span>Remember me</span></label>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary my-4">Sign in</button>
            </div>
        </form>
    </div>
</div>



                
            </div>
            
        </div>
    </div>
</div>

  </div>
</div>

<!-- SIDEBAR -->

Bootstrap Sidebar
Our Bootstrap Sidebars are powerful and customisable responsive navigation components for any type of vertical navigation. A Bootstrap Sidebar comes with built-in support for branding, navigation, and more. Now keep reading some examples to see how Bootstrap Sidebars work.

Example
Bootstrap side navbar is a vertical navigation component which apart from traditional, text links, might embed icons, dropdowns, avatars or search forms.

...
Dashboard
Icons
Copy
Copy
<nav class="sidenav navbar navbar-vertical navbar-expand-xs navbar-light bg-white position-relative" id="sidenav-main">
    <div class="scroll-wrapper" style="position: relative;"><div class="scroll-content" >
      <!-- Brand -->
      <div class="sidenav-header  align-items-center">
        <a class="navbar-brand" href="javascript:;">
          <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">
                <i class="ni ni-tv-2 text-primary"></i>
                <span class="nav-link-text">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">
                <i class="ni ni-planet text-orange"></i>
                <span class="nav-link-text">Icons</span>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
Collapsible menus PRO
...
Dashboards
D
Dashboard
A
Alternative
Copy
Copy
<nav class="sidenav navbar navbar-vertical navbar-expand-xs navbar-light bg-white position-relative" id="sidenav-main">
    <div class="scroll-wrapper" style="position: relative;"><div class="scroll-content">
      <!-- Brand -->
      <div class="sidenav-header  d-flex  align-items-center">
        <a class="navbar-brand" href="javascript:;">
          <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/brand/blue.png" class="navbar-brand-img" alt="...">
        </a>
        <div class=" ml-auto ">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block active" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#navbar-dashboards" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="navbar-dashboards">
                <i class="ni ni-shop text-primary"></i>
                <span class="nav-link-text">Dashboards</span>
              </a>
              <div class="collapse show" id="navbar-dashboards">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a href="javascript:;" class="nav-link">
                      <span class="sidenav-mini-icon"> D </span>
                      <span class="sidenav-normal"> Dashboard </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="javascript:;" class="nav-link">
                      <span class="sidenav-mini-icon"> A </span>
                      <span class="sidenav-normal"> Alternative </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</nav>
<!-- -->
Bootstrap Sweet Alerts - Pro Component
Our Bootstrap Sweet Alerts are beautiful, responsive, customisable, accessible replacements for Javascript’s popup boxes.
Keep reading our Bootstrap Alerts examples and learn how to use this plugin.

Usage
CSS
In order to use this plugin on your page you will need to include the following styles in the “Page plugins” area from the page’s head section:

Copy
Copy
<link rel="stylesheet" href="assets/vendor/sweetalert2/dist/sweetalert2.min.css">
JS
In order to use this plugin on your page you will need to include the following script in the “Optional JS” area from the page’s footer:

Copy
Copy
<script src="assets/vendor/sweetalert2/dist/sweetalert2.min.js"></script>
Initialization
SweetAlert2 automatically centers itself on the page and looks great no matter if you’re using a desktop computer, mobile or tablet. It’s even highly customizeable, as you can see below!

Examples
    

Copy
Copy
<button class="btn btn-primary" data-toggle="sweet-alert" data-sweet-alert="basic">Basic alert</button>
<button class="btn btn-info" data-toggle="sweet-alert" data-sweet-alert="info">Info alert</button>
<button class="btn btn-success" data-toggle="sweet-alert" data-sweet-alert="success">Success alert</button>
<button class="btn btn-warning" data-toggle="sweet-alert" data-sweet-alert="warning">Warning alert</button>
<button class="btn btn-default" data-toggle="sweet-alert" data-sweet-alert="question">Question</button>
Advanced
  

Copy
Copy
<button class="btn btn-primary" data-toggle="sweet-alert" data-sweet-alert="confirm">Confim alert</button>
<button class="btn btn-primary" data-toggle="sweet-alert" data-sweet-alert="timer">Timer alert</button>
<button class="btn btn-primary" data-toggle="sweet-alert" data-sweet-alert="image">Image alert</button>
<!--- POPOVERS-->
   

Copy
Copy
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Popover on top
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="This is a very beautiful popover, show some love.">
  Popover on right
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
  Popover on bottom
</button>

<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="This is a very beautiful popover, show some love.">
  Popover on left
</button>
Variations
      

Copy
Copy
<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-color="default" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Default popover
</button>

<button type="button" class="btn btn-primary" data-container="body" data-toggle="popover" data-color="primary" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Primary popover
</button>

<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-color="secondary" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Secondary popover
</button>

<button type="button" class="btn btn-info" data-container="body" data-toggle="popover" data-color="info" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Info popover
</button>

<button type="button" class="btn btn-success" data-container="body" data-toggle="popover" data-color="success" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Success popover
</button>

<button type="button" class="btn btn-danger" data-container="body" data-toggle="popover" data-color="danger" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Danger popover
</button>

<button type="button" class="btn btn-warning" data-container="body" data-toggle="popover" data-color="warning" data-placement="top" data-content="This is a very beautiful popover, show some love.">
  Warning popover
</button>

Tooltip
Bootstrap 4 Tooltip
The Tooltip component is small pop-up box that appears when the user moves the mouse pointer over an element:

 Hover over me
How To Create a Tooltip
To create a tooltip, add the data-toggle="tooltip" attribute to an element.

Use the title attribute to specify the text that should be displayed inside the tooltip:

<a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>
Note: Tooltips must be initialized with jQuery: select the specified element and call the tooltip() method.

The following code will enable all tooltips in the document:

Example
<script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
Positioning Tooltips
By default, the tooltip will appear on top of the element.

Use the data-placement attribute to set the position of the tooltip on top, bottom, left or the right side of the element:

Example
<a href="#" data-toggle="tooltip" data-placement="top" title="Hooray!">Hover</a>
<a href="#" data-toggle="tooltip" data-placement="bottom" title="Hooray!">Hover</a>
<a href="#" data-toggle="tooltip" data-placement="left" title="Hooray!">Hover</a>
<a href="#" data-toggle="tooltip" data-placement="right" title="Hooray!">Hover</a>
Complete Bootstrap Tooltip Reference
For a complete reference of all tooltip options, methods and events, go to our Bootstrap JS Tooltip Reference.

